$color-primary: #006600;
$color-secondary: #734d26;
$color-base: #f5f5dc;
$color-highlight: #fde76a;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #aaaaaa;

$color-gold-light: #f9f295;
$color-gold-dark: #e0aa3e;