.page-home-names {
    display: flex;
    align-content: center;
    margin-top: 3rem;

    .page-home-namegen {
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;

    }
}