.wordgen-container {
    display: flex;
    height: 30rem;
    align-items: center;
    justify-content: center;

    .wordform-scrollbox {
        margin: 0;
        padding: 1rem;
        display: inline-block;
        height: 400px;
        width: 180px;
        border: 1px solid $color-black;
        border-right: 0;
        background-color: $color-white;
        overflow: auto;
        box-sizing: content-box;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    
    .wordview-scrollbox {
        margin: 0;
        padding: 1rem;
        display: inline-block;
        height: 400px;
        width: 360px;
        border: 1px solid $color-black;
        background-color: $color-white;
        overflow: auto;
        box-sizing: content-box;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}

@media all and (max-width: 768px) {
    .wordview-scrollbox {
        margin: 0;
        padding: 1rem;
        display: inline-block;
        height: 400px;
        width: 360px;
        border: 1px solid $color-black;
        background-color: $color-white;
        overflow: auto;
        box-sizing: content-box;
    }
}

